<style>
  .nav {
  background-color: #00000012; 
  width: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.8s; 
  transition-duration: 0.4s;
}



.navbutton1:hover {
  box-shadow: 0px 1px 9px 0px rgb(0 0 0 / 24%), 0px 1px 9px 0px rgb(0 0 0 / 24%);
}
</style>

<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">
    <a href="/">
      <button class="nav navbutton1">Home</button>
  </a>
    </ul>
  <ul class="list-unstyled contact-list">
    <a href="/cook">
    <button class="nav navbutton1">Cook</button>
  </a>
</ul>
  <ul class="list-unstyled contact-list">
    <a href="/sales">
    <button class="nav navbutton1">Sales</button>
  </a>
</ul>
</div>
